# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
copilot*
misc.xml
modules.xml
monetize.iml
PMDPlugin.xml
vcs.xml
dataSources.xml